/* Set the size of the div element that contains the map */

#map {
    border-radius: 2px;
    height: 600px;
    width: 100%;

}

#iconAlign {
    text-align: right;
    display: inline-block;
    font-size: 1.5em;
}

/*
.far {
    color: red;
}
*/