html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

#map {
    height: 600px;
    max-width: 100%;

}

#f-text {
    color: #777;
}


.scroll-tbody {
    display: inline-block;
    height: 550px;
    overflow-y: auto;
    width: 100%;
}


.t-body {
    cursor: pointer;
    margin: auto 0px;
}

#footer {
    height: 40px;
    padding: 8px;
}
