html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

#map {
    height: 600px;
    width: 100%;

}

#iconAlign {
    display: inline-block;
    font-size: 1.5em;
    text-align: right;
}

#footer {
    height: 40px;
    padding: 8px;
}

#f-text {
    color: #777;
}

.scroll-tbody
{
    display: block;
    overflow-y: scroll;
}

.t-body{
    height: 500px;
}